---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import navbarElements from "../../utils/navbarElements";
---



<Layout>
    <Navbar navbarElements={navbarElements} />
    <div class="sections">
    </div>
</Layout>