---
import 'aos/dist/aos.css';
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import navbarElements from "../../utils/navbarElements";
import AboutMe from "../../components/sections/AboutMe.astro";
import Projects from '../../components/sections/Projects.astro';
import Tecnologies from '../../components/sections/Tecnologies.astro';
import WorkExperience from '../../components/sections/WorkExperience.astro';
---

<Layout>
	<Navbar navbarElements={navbarElements} />
	<div class="sections">
		<AboutMe/>
		<Projects/>
		<Tecnologies/>
		<WorkExperience/>
	</div>
</Layout>


<style is:global>
	.sections {
		display: flex;
		flex-direction: column;
		gap: 56px;
	}
	.hero {
		padding: 72px;
		align-items: center;
		width: 100%;
		height: 600px;
		justify-content: space-between;
		display: flex;
	}

	.hero__content {
		flex: 0.5;
	}
	.hero__image img {
		border: 3px solid var(--primary);
		display: block;
		height: 100%;
		margin: 0 auto;
		border-radius: 12px;
	}
	.hero__image {
		height: 400px;
		display: block;
		flex: 0.5;
	}
	
</style>

<script>
	import AOS from "aos";
	AOS.init();
</script>