---
import { loadTranslations } from "../i18n";
import { getLocale } from "astro-i18n-aut";
import Error404 from "../assets/images/Error404.svg?url";
const locale = getLocale(Astro.url);
const translations = await loadTranslations(locale);
const title = translations["404"].title;
import PageSection from "./PageSection.astro";
const backToHome = translations["404"].backToHome;
let { text } = Astro.props;
---

<div class="error-404__container">
  <img src={Error404} alt="Error 404" id="error404" />
  <div class="error-404__description">
    <h1>{title}</h1>
    <p>{text} <a href={translations["404"].backToHome}>Volver al inicio</a>.</p>
  </div>
</div>

<style>
    p {
        font-size: var(--font-size-description);
        color: var(--copy-light);
    }
  .error-404__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .error-404__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
  h1 {
    font-size: var(--font-size-title);
    color: var(--copy);
  }
  #error404 {
    width: 450px;
    height: 450px;
  }
</style>
