
---
interface Props {
    fixedHeight: boolean
    flexConfig: {
        enable: boolean
        direction?: 'row' | 'column'
        justify?: 'center' | 'flex-start' | 'flex-end' | 'space-between' | 'space-around' | 'space-evenly'
        align?: 'center' | 'flex-start' | 'flex-end' | 'stretch' | 'baseline'
        gap: string
    }
    margin?: string
    mobileMargin?: string
    mobilePadding?: string
    id: string
    maxWidth?: string
    padding?: string
}
const { fixedHeight, flexConfig, maxWidth, id, padding, margin, mobileMargin, mobilePadding } = Astro.props
let mobilePaddingVar = (mobilePadding?.length) ? mobilePadding : ((padding?.split(" ")[1] && padding?.split(" ")[1] !== "0") ? padding?.split(" ")[0] + " 0" : padding)
let mobileMarginVar = (mobileMargin?.length) ? mobileMargin : ((margin?.split(" ")[1] && margin?.split(" ")[1] !== "0") ? margin?.split(" ")[0] + " 0" : margin)
---

<section class="page-section" style=`display: flex; align-items: center; justify-content: center;`>
    <div id=`${id}` class="page-section__content" style=`height: ${fixedHeight ? 'calc(100dvh - 70px)' : 'auto'}; max-width: ${maxWidth || '100%'}; width: 100%`>
        <div class="page-section__content-inner" style=`display: ${flexConfig.enable ? 'flex' : 'block'}; flex-direction: ${flexConfig.direction || 'column'}; justify-content: ${flexConfig.justify || 'flex-start'}; align-items: ${flexConfig.align || 'flex-start'}; gap: ${flexConfig.gap || '16px'}; height: ${fixedHeight ? '100%' : 'auto'}`>
            <slot />
        </div>
    </div>
</section>


<style define:vars={{padding, mobilePaddingVar, mobileMarginVar, margin }}>
    .page-section__content {
        padding: var(--padding);
        margin: var(--margin);
    }
    .page-section:first-child {
        margin-top: 60px;
    }
    .page-section__content:not(#about-me):not(#sobre-mi):not(#project-page) {
        margin: 100px 0;
    } 	@media (max-width: 880px) {
    .page-section__content {
        margin: var(--mobileMarginVar);
        padding: var(--mobilePaddingVar);
    }
	 .page-section__content-inner {
		padding: 24px 0;
	}

    .page-section__content-inner {
        justify-content: flex-start !important;
    }
}
</style>