
---
interface Props {
    fixedHeight: boolean
    flexConfig: {
        enable: boolean
        direction?: 'row' | 'column'
        justify?: 'center' | 'flex-start' | 'flex-end' | 'space-between' | 'space-around' | 'space-evenly'
        align?: 'center' | 'flex-start' | 'flex-end' | 'stretch' | 'baseline'
        gap: string
    }
    id: string
    maxWidth?: string
}
const { fixedHeight, flexConfig, maxWidth, id } = Astro.props
---

<section class="page-section" style=`display: flex; align-items: center; justify-content: center;`>
    <div id=`${id}` class="page-section__content" style=`height: ${fixedHeight ? 'calc(100dvh - 70px)' : 'auto'}; max-width: ${maxWidth || '100%'}; width: 100%;`>
        <div class="page-section__content-inner" style=`display: ${flexConfig.enable ? 'flex' : 'block'}; flex-direction: ${flexConfig.direction || 'column'}; justify-content: ${flexConfig.justify || 'flex-start'}; align-items: ${flexConfig.align || 'flex-start'}; gap: ${flexConfig.gap || '16px'}; height: ${fixedHeight ? '100%' : 'auto'}`>
            <slot />
        </div>
    </div>
</section>


<style>
    .page-section:first-child {
        margin-top: 60px;
    }
    .page-section__content:not(#about-me):not(#sobre-mi) {
        margin: 172px 0;
    } 	@media (max-width: 880px) {
	 .page-section__content-inner {
		padding: 24px 0;
	}

    .page-section__content-inner {
        justify-content: flex-start !important;
    }
}
</style>