---
let { projectInfo } = Astro.props;
let { screenshots, projectNotes, projectHighlightText } = projectInfo;
let halfRounded = Math.round(screenshots.length / 2);
let firstHalf = screenshots.slice(0, halfRounded);
let secondHalf = screenshots.slice(halfRounded, screenshots.length);
let projectStructure = [firstHalf, projectNotes, secondHalf];
---

<div class="project-body-container">
  <div class="images-container">
    {
      projectStructure[0].map((screenshot: string) => (
        <div
          class="item"
          data-aos="zoom-in-down"
          style={`background-image: url(${screenshot})`}
        ></div>
      ))
    }
  </div>
  <div class="project-hightlights">
    <h2>{projectHighlightText}</h2>
    <ul>
      {
        projectNotes.map((note: string) => {
          return <li>{note}</li>;
        })
      }
    </ul>
  </div>
  <div class="images-container">
    {
      projectStructure[2].map((screenshot: string) => (
        <div
          class="item"
          data-aos="zoom-in-down"
          style={`background-image: url(${screenshot})`}
        ></div>
      ))
    }
  </div>
</div>

<style>
  .project-body-container {
    width: 100%;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
  }
  .images-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
  }
  .project-hightlights {
    gap: 48px;
    margin: 124px 0;
    display: flex;
  }
  h2 {
    flex: 1;
    font-size: var(--font-size-title);
    color: var(--copy);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex: 1;
    list-style: none;
    padding: 0;
  }
  li {
    font-size: var(--font-size-description);
    color: var(--copy-light);
  }

  .item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--foreground);
    border: 2px solid var(--border);
    border-radius: 12px;
    flex: calc(50% - 5px);
    min-width: 500px;
    height: auto;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
  }

  /* Cada tercer elemento ocupará 100% del ancho */
  .item:nth-child(3n) {
    flex: 100%;
  }

  @media (max-width: 880px) {
    .project-hightlights {
      flex-direction: column;
      gap: 24px;
    }
    .project-body-container {
      padding: 60px 8px;
    }
    .images-container {
      gap: 16px;
    }
    .item {
      min-width: 100%;
      height: 300px;
      min-width: 100%;
      aspect-ratio: 4/3;
      padding: 20px;
    }
  }
</style>
