---
interface Props {
    title: string
    technologiesList: string[]
    localeIcon?: boolean
}
import { Icon } from 'astro-icon/components'
const { title, technologiesList, localeIcon } = Astro.props

---

<div class="technologies__list">
    <h3>{title}</h3>
    <hr/>
    <div class="technologies" data-aos="fade-up">
        {technologiesList.map((technology) => (
            <div class="technology">
                <Icon name={`${localeIcon ? '' : 'devicon:'}${technology}`} size={36}/>
                <span>{technology.toUpperCase()}</span>
            </div>
        ))}
    </div>
</div>


<style>
    .technologies__list {
        padding: 18px;
    }
    .technologies {
        padding: 4px 24px;
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px 4px;
    }
    .technology {
        flex: 1;
        height: fit-content;
        background-color: var(--foreground);
        border: 1px solid var(--border);
        padding: 16px 36px;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
    span {
        background-color: var(--foreground);
        padding: 8px 12px;
        border-radius: 6px;
        font-weight: 300;
        font-size: var(--font-size-description);
        color: var(--copy-light);
    }
    h3 {
        padding: 12px;
        background-color: var(--foreground);
        width: fit-content;
        border-radius: 6px;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        font-weight: 600;
        color: var(--copy-light);
    }
    .technologies__list {
        gap: 12px;
        display: flex;
        flex-direction: column;
        flex: 1 1 500px;
    }

    @media (max-width: 560px) {
        .technologies__list {
            padding: 0;
        }
        .technologies {
            padding: 4px 0;
        }
        .technology {
            padding: 16px 24px;
        }
        h3 {
            padding: 8px;
        }
    }
</style>