---
interface Props {
    name: string;
    backgroundColor: string;
    textColor: string;
}

let { name, backgroundColor, textColor } = Astro.props
---


<span class="technology" style={`background-color: ${backgroundColor}; color: ${textColor}; padding: 4px 16px; border-radius: 10px`}>
    {name}
</div>


<style>
    .technology {
        border: 1px solid #fff;
        font-size: var(--font-size-description);
}
</style>