<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Cristián Dev, Full Stack Developer</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype'),
      url('/fonts/Inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  :root {
    --font-size-description: clamp(0.8rem, 1.1vw, 1.5rem);
    --font-size-title: clamp(1.5rem, 5vw, 2.5rem);
    --primary: #7c3aed;
    --primary-content: #ffffff;
    --primary-dark: #5f14e0;
    --primary-light: #9b69f1;

    --secondary: #ed3a51;
    --secondary-content: #ffffff;
    --secondary-dark: #e0142f;
    --secondary-light: #f1697a;

    --background: #19181b;
    --foreground: #252329;
    --border: #3e3b45;

    --copy: #fbfbfb;
    --copy-light: #d8d6dc;
    --copy-lighter: #a49fac;

    --success: #3aed3a;
    --warning: #eded3a;
    --error: #ed3a3a;
    --success-content: #032503;
    --warning-content: #252503;
    --error-content: #ffffff;
  }
  * {
    font-family: "Inter", serif;
    color: var(--copy);
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* change scrollbar style */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--border);
  }

  hr {
    border: 0;
    height: 1px;
    background-color: var(--border);
  }
  a {
    text-decoration: none;
    color: var(--primary);
  }
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
  body {
    padding: 20px 20px 0 20px;
    background-color: var(--background);
  }

  *,
  html {
    scroll-behavior: smooth !important;
  }
</style>

<script>
  import "aos/dist/aos.css";
  import AOS from "aos";
  AOS.init();
</script>
