---
import PageSection from "../PageSection.astro"
import Project from "../Project.jsx"
import TechnologiesList from "../TechnologiesList.astro"
---


<PageSection fixedHeight={false} flexConfig={{
    enable: true,
    direction: "column",
    justify: "center",
    align: "center",
    gap: "24px",
}} maxWidth="1680px">
    <h2 data-aos="zoom-out">Lista de tecnologías</h2>
    <div id="project__header__label" data-aos="zoom-out"><span style="color: var(--secondary);">11</span> hasta la fecha</div>
    <p data-aos="zoom-out">En esta sección, se recopilarán las tecnologías que he utillizado en mi trayectoría y de las cuales tengo un grado de proficiencia para cada una de ellas.</p>
    <div class="technologies__list__container">
        <TechnologiesList title="Frontend development" technologiesList={["html5", "react", "vitejs", "css3", "svelte", "nextjs", "astro"]} />
        <TechnologiesList title="Backend development" technologiesList={["express", "nodejs", "python"]} />
        <TechnologiesList title="Databases" technologiesList={["mysql", "mongodb", "oracle", "postgresql"]} />
        <TechnologiesList title="Design tools" technologiesList={["figma"]} />
        <TechnologiesList title="Deployment services" technologiesList={["AWS-EC2", "AWS-S3", "Hostinger", "Netlify", "CPanel", "Render", "Vercel"]} localeIcon={true}/>


    </div>
</PageSection>

<style>
    .technologies__list__container {
        margin-top: 16px;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 12px;
    }
    #project__header__label {
        padding: 6px 12px;
        background-color: var(--foreground);
        border: 2px solid var(--border);
        border-radius: 12px;
    }
    p {
        text-align: center;
        font-size: var(--font-size-description);
        color: var(--copy-light);
    }
    h2 {
        color: var(--copy);
        font-size: var(--font-size-title);
    }
</style>